<!doctype html>
<html lang="tr">

<%- include('./partials/head') %>

<body>
   <%- include('./partials/header') %>

   <%- include('./partials/hero') %>

    <section class="section pt-5">
       <%- include('./search') %>
    </section>
    <%- include('partials/script') %>
</body>
</html>